@keyframes ShowPage{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.session-item-page-coniatner-show{
  display:flex;
  width: 100%;
  height: 100%;
  background-color: gold;
  position:fixed;
  left:0;
  top:0;
  animation-name: ShowPage;
}

.session-item-page-container-hide{
  display:hide;
}
