body{
  height: 100vh;
  width : 100%;
  background-color:#1E282C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.meter-container {
  height: 3.5rem;
  width: 20.8rem;
  border: .3rem solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meter {
  background-color: olive;
  height: 3rem;
}
