*{
  padding: 0;
  margin: 0;
}

main{
  max-width: 50rem;
  min-height: 80vh;
  margin: auto;
}

#main-activity-timer-container{
  width: 80%;
  height: 30rem;
  margin: 2rem auto;
  display:flex;
  justify-content:center;
}

#main-activity-timer-object{
  width:30rem;
  height: 30rem;
  background-color: var(--bs-teal);
  border-radius: 50%;
}

/**modal**/
.c_modal {
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  background-color: rgba(0,0,0,.8);
  display:flex;
  flex-direction: column;
  position: fixed;
}
/**modal closebtn**/
.c_modal-close{
  position:relative;
  left: 40%;
  font-size: 2rem;
  padding: 1rem;
  background:transparent;
  border:none;
  color:white;
  outline: none;
}
.c_modal-content{
  width: 100%;
  height: 50%;
  margin-top: 10rem;
}
.c_modal-content > div{
  background-color: var(--bs-gray-800);
  width: 30rem;
  height: auto;
  margin: auto;
  padding: 1rem;
  border-radius: .8rem;
}
.c_modal-header{
  width: 100%;
  padding: 1rem;
}
.c_modal-footer {
  
}
/**end of modal styles**/


/*menu*/
.main-activity-menu-container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  /*align-items:center;*/
}
#main-activity-menu-menu{
  width: 30rem;
  height: 30rem;
  margin-top: 5rem;
  border-radius: 1rem;
  background-color: var(--bs-gray-800);
}
#main-activity-menu-close{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
#main-activity-menu-close > button{
  align-self: flex-start;
  border: none;
  outline: none;
  color: white;
  background: none;
  padding: 1rem;
}
.menu-input-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


/*media queries*/

/*tablet*/
@media only screen and (max-width:765px){
  #main-activity-timer-object{
    width:25rem;
    height: 25rem;
  }
}

/*mobile*/
@media only screen and (max-width:450px){
  #main-activity-timer-object{
    width:20rem;
    height: 20rem;
  }
.c_modal-content > div{
  width: 20rem;
}
}
