*{
  padding: 0;
  margin: 0;
}

main{
  max-width: 50rem;
  min-height: 80vh;
  margin: auto;
}

#main-activity-timer-container{
  width: 80%;
  height: 30rem;
  margin: 2rem auto;
  display:flex;
  justify-content:center;
  position: relative;
}

#main-activity-timer-object{
  width:30rem;
  height: 30rem;
  background-color: var(--bs-teal);
  border-radius: 50%;
}

/**modal**/
.c_modal {
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  background-color: rgba(0,0,0,.8);
  display:flex;
  flex-direction: column;
  position: fixed;
}
/**modal closebtn**/
.c_modal-close{
  position:relative;
  left: 40%;
  font-size: 2rem;
  padding: 1rem;
  background:transparent;
  border:none;
  color:white;
  outline: none;
}
.c_modal-content{
  width: 100%;
  height: 50%;
  margin-top: 10rem;
}
.c_modal-content > div{
  background-color: var(--bs-gray-800);
  width: 30rem;
  height: auto;
  margin: auto;
  padding: 1rem;
  border-radius: .8rem;
}
.c_modal-header{
  width: 100%;
  padding: 1rem;
}
.c_modal-footer {
  
}
/**end of modal styles**/


/*menu*/
.main-activity-menu-container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  /*align-items:center;*/
}

.main-activity-menu-container  #menu-content{
  max-width: 40rem;
  margin: auto;
}
#main-activity-menu-menu{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  border-radius: 1rem;
  background-color: #3d4356;
  text-align: center;
}
#main-activity-menu-close{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
}
#main-activity-menu-close > button{
  align-self: flex-start;
  border: none;
  outline: none;
  color: white;
  background: none;
  padding: 1rem;
}
.menu-input-wrapper{
  color: #798093;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.menu-input-wrapper > .output-data{
  padding: .5rem;
  background-color:#303649;
  margin:.8rem auto;
  color: white;
  border-radius: .3rem;
}
.menu-input-wrapper > input[type="checkbox"]{
  width: 1.5rem;
  height: 1.5rem;
  margin: .8rem auto;
}
/** styling the range input **/
.menu-input-wrapper > input[type="range"]{
  -webkit-appearance: none;
  background: #303649;
  background-image: linear-gradient(#ff4500, #ff4500);
  height: .3rem;
  background-size: 30% 100%;
  background-repeat: no-repeat;
  border-radius: .5rem;
}


.menu-input-wrapper > input[type="range"]#f-duration-input{
  background-image: linear-gradient(#ff4500, #ff4500);
}
.menu-input-wrapper > input[type="range"]#sb-duration-input{
  background-image: linear-gradient(#4eff18, #4eff18)
}
.menu-input-wrapper > input[type="range"]#lb-duration-input{
  background-image: linear-gradient(#0acaff, #0acaff)
}
.menu-input-wrapper > input[type="range"]#amt-focus-input{
  background-image: linear-gradient(#d0d2ce, #d0d2ce)
}

.menu-input-wrapper > input[type="range"]:focus{
  border: none;
  outline: none;
}
.menu-input-wrapper > input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  background-color: transparent;
  
}
.menu-input-wrapper > input[type="range"]::-moz-range-track{
  background-color: green;
  
}
.menu-input-wrapper > input[type="range"]::-ms-track{
  background-color: green;
  
}
.menu-input-wrapper > input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  height: 1.2rem;
  width: 1.2rem;
  background: #FFFFFF;
  cursor: pointer;
  border:none;
  border-radius: 50%;
  transition: background .6s ease-in-out;
}

.menu-input-wrapper > input[type="range"]#f-duration-input::-webkit-slider-thumb{
  background: #ff4500;
}
.menu-input-wrapper > input[type="range"]#sb-duration-input::-webkit-slider-thumb{
  background: #4eff18;
}
.menu-input-wrapper > input[type="range"]#lb-duration-input::-webkit-slider-thumb{
  background: #0acaff;
}
.menu-input-wrapper > input[type="range"]#amt-focus-input::-webkit-slider-thumb{
  background: #d0d2ce;
}

.menu-input-wrapper > input[type="range"]::-moz-range-thumb{
  -moz-appearance:none;
  height: 1.2rem;
  width: 1.2rem;
  background: #FFFFFF;
  cursor: pointer;
  border:none;
  border-radius: 50%;
  transition: background .6s ease-in-out;
}


.menu-input-wrapper > input[type="range"]#f-duration-input::-moz-range-thumb{
  background: #ff4500;
}
.menu-input-wrapper > input[type="range"]#sb-duration-input::-moz-range-thumb{
  background: #4eff18;
}
.menu-input-wrapper > input[type="range"]#lb-duration-input::-moz-range-thumb{
  background: #0acaff;
}
.menu-input-wrapper > input[type="range"]#amt-focus-input::-moz-range-thumb{
  background: #d0d2ce;
}

.menu-input-wrapper > input[type="range"]::-ms-thumb{
  -ms-appearance:none;
  height: 1.2rem;
  width: 1.2rem;
  background: #FFFFFF;
  cursor: pointer;
  border:none;
  border-radius: 50%;
  transition: background .6s ease-in-out;
}

.menu-input-wrapper > input[type="range"]#f-duration-input::-ms-thumb{
  background: #ff4500;
}
.menu-input-wrapper > input[type="range"]#sb-duration-input::-ms-thumb{
  background: #4eff18;
}
.menu-input-wrapper > input[type="range"]#lb-duration-input::-ms-thumb{
  background: #0acaff;
}
.menu-input-wrapper > input[type="range"]#amt-focus-input::-ms-thumb{
  background: #d0d2ce;
}

#main-activity-menu-menu > button#menu-reset{
  background: transparent;
  border-radius: .5rem;
  border: 1px solid gray;
  padding: .5rem;
  color:#798093
}
/** end of range styling **/


/* circle animations*/
#main-activity-svg-container{
  position: absolute;
  margin: 2rem auto;
}


/*media queries*/

/*tablet*/
@media only screen and (max-width:765px){
  #main-activity-timer-object{
    width:25rem;
    height: 25rem;
  }
}

/*mobile*/
@media only screen and (max-width:450px){
  #main-activity-timer-object{
    width:20rem;
    height: 20rem;
  }
.c_modal-content > div{
  width: 20rem;
}
}
