@keyframes prevPage {
  from {
    left: 10;
    opacity: .2;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes showMenu{
  from {
    margin: auto;
    max-width: 0px;
    height: 0px;
    display: none;
  }
  to {
    margin: auto;
    max-width: 35rem;
    display: block;
    height: 24rem;
  }
}

@keyframes showMenuItems {
  0% {
    max-height: 0px;
    overflow: none;
    min-height: 0;
  }
  99% {
    max-height: 18rem;
    overflow: none;
  }
  100% {
    overflow: auto;
  }
}

#mainMenu{
  max-width: 35rem;
  margin: auto;
  height: 24rem;
  border: 3px solid #f0b ; 
  border-radius: .8rem;
  padding: 1rem;
}

div#Menu {
  display: block;
}
div#Menu-hide {
  display: none;
}

#mainMenu-item-container {
  max-height: 18rem;
  overflow: auto;
  padding: .5rem;
  margin: .5rem;
  animation-name: showMenuItems;
  animation-duration: 1s;
}
.mainMenu-item {
  width: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* background: linear-gradient(#32BCFF, #4FC3F7);*/
  background: linear-gradient(to top, #1e282c, #303030);
  margin: .7rem auto;
  padding: .7rem .8rem 0;
  width: 80%;
  border-radius: .4rem;
  color: white;
  border: none;
  border-left: 2px solid #f0b;
  transition: .2s ease-in;
}

.mainMenu-item:hover {
  opacity: .5;
}

.mainMenu-item  p {
  display: flex;
  justify-content: center;
  align-items: center;
}


#addNewSession-button {
  padding: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: inherit;
  color: cyan;
  border: 3px solid #f0b; 
}

#addNewSession-button:hover {
  background-color: cyan;
  color: black
}

.Animate-previous-page {
  animation-name: prevPage;
  animation-duration: 1s;
  position: relative;
}
